/* Start body */
 * {
     margin: 0;
     padding: 0;
 }
body {
     font-family: 'Raleway', tahoma, sans-serif;
 }

 .jumbotron {
   background-image:linear-gradient(rgba(44,62,80,.8),rgba(44,62,80,.8)),url(../img/bg.jpg);
   background-position: center;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
   margin-bottom: 0;
 }

 /* End body */

/* Start Navbar */
.navbar
{
  background-color: transparent;
  border: none;
}
.navbar-brand
{
  padding: 0;
  margin: 0;
}
.navbar-default .navbar-nav>.active>a
{
  background-color: transparent;
  color: #fff;
  border-bottom: 2px solid #fff;

}
.navbar-default .navbar-nav>.active>a:hover
{
  background-color: transparent;
  color: #fff;
}
.navbar-default .navbar-nav>li>a
{
  color: #95a5a6;
  font-weight: 500;
  text-transform: uppercase;
  padding: 15px 0 5px 0;
  margin-right: 20px;
  -webkit-transition:all  .2s;
  transition: all .2s;
}
.navbar-default .navbar-nav>li>a:hover
{
  color: #fff;
  border-bottom: 2px solid #fff;
}
.navbar-default .navbar-toggle
{
    border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
{
    background-color: transparent;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form
{
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}
/* End Navbar */

/* Start Banner */
.banner {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}
.banner h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 52px;
}
.banner h1 span {
  color: #f39c12;
}
.banner p {
  color: #95a5a6;
  font-size: 21px;
  font-weight: 400;
  margin-bottom: 100px;
}
.banner .btn {
  transition: all .2s;
}
.banner .btn-success {
  width: 200px;
  height: 50px;
  background-color: #f39c12;
  border: none;
  border-bottom: 2px solid #b2750a;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 28px;
}
.banner .btn-success:hover
{
  background-color: #d8890b;
  border-bottom: 2px solid #b2750a;
}
.banner .btn-default {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #f39c12;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 28px;
  color: #f39c12;
}
.banner .btn-default:hover {
  background-color: #d8890b;
  color: #fff;
  border: none;
}
/* End Banner */

/* Start About*/
.about {
  padding: 90px 0;
}
.about h2 {
  font-weight: 200;
  font-size: 40px;
  word-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
.about h2::after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #f39c12;
  content: "";
  margin: 0 auto;
  margin-top: 16px;
}
.about p {
  margin-top: 20px;
  line-height: 30px;
  font-weight: 300;
  font-size: 16px;
  color: #4b4b4b;
}
/* End About*/

/* Start Feat*/
.feat i {
  margin-top: 30px;
  color: #f39c12;
  font-size: 50px;
}
.feat h3 {
  font-weight: 500;
  font-size: 25px;
  color: #2b2a2a;
}
.feat p {
  font-size: 16px;
  color: #434343;
  margin-bottom: 20px;
  font-weight: 300;
}
.feat a {
  width: 130px;
  height: 34px;
  background-color: transparent;
  border: 1px solid #f39c12;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 700;
  color: #f39c12;
  transition: all .3s ease;
}
.feat a:hover {
  background-color: #f39c12;
  color: #fff;
  border: none;
}
/* End Feat*/

/* Start Subscribe*/
.subscribe
{
  background-image: linear-gradient(rgba(44,62,80,.8),rgba(44,62,80,.8)),url(../img/subscribe.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 90px 0;
}
.subscribe form input {
  width: 430px;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 10px;
  color: #888;
  padding: 0 10px;

}
.subscribe form .btn-primary {
  width: 200px;
  height: 45px;
  border-radius: 8px;
  background-color: #f39c12;
  border: none;
  border-bottom: 2px solid #c57b04;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
}
.subscribe form .btn-primary:hover
{
  background-color: #d8890b;
  border-bottom: 2px solid #8f5b07;
}
/* End Subscribe*/

/* Start Services*/
.services{
  background-color: #ededed;
  padding: 90px 0;
}
.services h2 {
  font-weight: 200;
  font-size: 40px;
  word-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
.services h2::after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #f39c12;
  content: "";
  margin: 0 auto;
  margin-top: 16px;
}
.services p {
  margin-top: 20px;
  line-height: 30px;
  font-weight: 300;
  font-size: 16px;
  color: #4b4b4b;
}
.services .ser{
  margin-top: 30px;
}
.services .ser img{
  margin-bottom: 50px;
}
.services .ser .content{
  margin-top: 15px;
  margin-left: 20px;
}
.services .ser i{
  float:left;
  font-size: 25px;
  color: #f39c12;
}
.services .ser h4{
  margin-left: 50px;
  font-size: 18px;
  font-weight: 600;
}
.services h4::after {
  display: block;
  height: 4px;
  width: 15px;
  background-color: #f39c12;
  content: "";
  margin-top: 10px;
  margin-left: 30px;
}
.services .ser p{
  color: #333;
  font-weight: 200;
  margin-bottom: 30px;
}
/* End Services*/

/* Start Works*/
.works
{
  padding: 90px 0;
}
.works h2 {
  font-weight: 200;
  font-size: 40px;
  word-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
.works h2::after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #f39c12;
  content: "";
  margin: 0 auto;
  margin-top: 16px;
}
.works p {
  margin-top: 20px;
  line-height: 30px;
  font-weight: 300;
  font-size: 16px;
  color: #4b4b4b;
}
.works .btn-groupe {
  margin-top: 10px;
}
.works .btn-groupe .btn {
  transition: all .2s;
}
.works .btn-groupe .btn-primary {
  width: 56px;
  height: 34px;
  margin-top: 10px;
  background-color: #f39c12;
  border: none;
  font-size: 9px;
  font-weight: 600;
}
.works .btn-groupe .btn-primary:hover
{
  background-color: #d8890b;
}
.works .btn-groupe .btn-default {
  height: 34px;
  margin-top: 10px;
  margin-left: 2px;
  font-size: 9px;
  font-weight: 600;
  border: 1px solid #95a5a6;
  color: #95a5a6;

}
.works .btn-groupe .btn-default:hover {
  border: 1px solid #f39c12;
  background-color: transparent;
  color: #f39c12;
}
.works .partfolio img {
  margin-top: 20px;
}
.galerie
{
  position: relative;
}
.galerie .caption
{
  max-width: 278px;
  position: absolute;
  display: block;
  background-color: rgba(243, 156, 18, 0.8);
  opacity: 0;
  top: 20px;
  left: 15px;
  bottom: 0;
  right: 15px;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.caption:hover
{
  opacity: 1;
}
.cap
{
  padding:40% 0;
}
.caption .btn-success
{
  padding: 10px 15px;
  margin: 5px;
  background-color: #fff;
  color: #f39c12;
  border: none;
  border-radius: 3px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.caption .btn-success:hover
{
  background-color: #f39c12;
  color: #fff;
}

/* End Works*/

/* Start Team */
.team {
  background-color: #ededed;
  padding: 90px 0;
}
.team h2 {
  font-weight: 200;
  font-size: 40px;
  word-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
.team h2::after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #f39c12;
  content: "";
  margin: 0 auto;
  margin-top: 16px;
}
.team .test {
  margin-top: 20px;
  line-height: 30px;
  font-weight: 300;
  font-size: 16px;
  color: #4b4b4b;
}
.team .pic {
  width: 153px;
  height: 153px;
  background-color: #313f4f;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #9c9c9c;
}
.team .pic img {
  max-width: 100%;
  margin: 10px;
}
.team h4 {
  text-transform: uppercase;
  font-weight: 600;
  color: #3d3d3d;
}
.team h4::after{
  width: 10px;
  height: 4px;
  display: block;
  content: "";
  background-color: #f39c12;
  margin: 0 auto;
}
.team h6 {
  color: #3e3e3e;
}
.team p {
  margin: 0;
  font-size: 13px;
  line-height: 20px;
}
.team .social {
  margin-top: 10px;
}
.team .social .fa-facebook-square {
  color: #3b5998;
  transition: all .2s;
}
.team .social .fa-facebook-square:hover {
  color: #5d5d5d;
}
.team .social .fa-twitter-square {
  color: #1da1f2;
  transition: all .2s;
}
.team .social .fa-twitter-square:hover {
  color: #5d5d5d;
}
.team .social .fa-linkedin-square {
  color: #0077b5;
  transition: all .2s;
}
.team .social .fa-linkedin-square:hover {
  color: #5d5d5d;
}
/* End Team */

/* Start Cilents*/
.clients {
  background-image: linear-gradient(rgba(44,62,80,.8),rgba(44,62,80,.8)),url(../img/client.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  padding: 50px 0;
}
.clients img {
  width: 95px;
  height: 95px;
  background-color: #ededed;
  margin: 0 auto;
  border: 3px solid #c5c5c5;
  border-radius: 50%;
  margin-bottom: 15px;
}
.clients p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}
.clients h4 {
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.clients h6 {
  color: #fff;
  font-size: 9px;
  margin-bottom: 10px;
}
.carousel-indicators {
  position: static;
  width: 100%;
  margin-left: 0;
  margin-top: 10px;
}
.carousel-indicators li {
  background-color: #fff;
  border: none;
}
.carousel-indicators .active {
  background-color: #f39c12;
}
.caros {
  color: #313f4f;
  background-color: #ededed;
  padding: 8px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin: 2px;
}
/* End Cilents*/

/* Start Contact Us*/
.contact-us
{
  padding: 90px 0;
}
.contact-us h2 {
  font-weight: 200;
  font-size: 40px;
  word-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
}
.contact-us h2::after {
  display: block;
  height: 2px;
  width: 100px;
  background-color: #f39c12;
  content: "";
  margin: 0 auto;
  margin-top: 16px;
}
.contact-us p {
  margin-top: 20px;
  line-height: 30px;
  font-weight: 300;
  font-size: 16px;
  color: #4b4b4b;
}
.contact-us form {
  margin-top: 20px;
}
.contact-us form input {
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 300;
}
 .contact-us form textarea {
  height: 160px;
  font-size: 15px;
  font-weight: 300;
}
.contact-us button {

}
.contact-us .btn-primary {
  display: block;
  width: 200px;
  height: 50px;
  margin: 10px auto;
  border-radius: 8px;
  background-color: #f39c12;
  border: none;
  border-bottom: 2px solid #c57b04;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  transition: all .3s;
}
.contact-us .btn-primary:hover
{
  background-color: #d8890b;
  border-bottom: 2px solid #8f5b07;
}
  .footer
  {
    background-image: linear-gradient(rgba(44,62,80,.8),rgba(44,62,80,.8)),url(../img/footer.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    color: #efefef;
    padding: 20px;
    font-size: 15px;
  }

  @media (min-width: 768px)
  {
  .footer
    {
      text-align: center;
    }
  }

  .footer i
  {
    color: #CCC;
    font-size: 25px;
    margin:0px 15px;
    margin-bottom: 20px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    cursor: pointer;
  }

  .footer .fa-facebook:hover
  {
    color: #3b5998;
  }

  .footer .fa-twitter:hover
  {
    color: #1da1f2;
  }

  .footer .fa-google-plus:hover
  {
    color: #dd4b39;
  }

  .footer .fa-pinterest:hover
  {
    color: #bd081c;
  }

  .footer .fa-instagram:hover
  {
    color: #833ab4;
  }

  .footer .fa-stumbleupon:hover
  {
    color: #eb4924;
  }

  .footer .fa-rss:hover
  {
    color: #f26522;
  }

/*End Footer*/

/* Start Pages */
.nav-page {
  background-image:linear-gradient(rgba(44,62,80,.8),rgba(44,62,80,.8)),url(../img/bg.jpg);
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  height: 50vh;
  margin-bottom: 0;
  padding-bottom: 0;
}

.sub-page
{
  padding: 70px 0;
}
/* End Pages */

/* Responsive */
@media (min-width: 768px)
{
.navbar-default .navbar-collapse, .navbar-default .navbar-form
   {
          background: transparent;
          float: right;
  }
  .banner .btn
  {
    margin: 10px
  }
}
@media (max-width: 768px)
{
  .navbar-default .navbar-toggle .icon-bar
  {
    background-color: #fff;
  }
  .navbar-default .navbar-nav>li>a
  {
    margin-left: 20px;
  }
  .banner h1
  {
    font-size: 40px;
  }
  .banner p
  {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 70px;
  }
  .banner .btn
  {
    height: 40px;
    width: 160px;
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .banner .btn-default
  {
    margin-left: 0px;
  }
}
@media (max-width: 480px)
{
  .subscribe form input
    {
      width: 100%;
      margin-bottom: 10px;
    }
    .cap
    {
      padding:35% 0;
    }
}
/* Start Animated */
.feat-js,
.serimg-js,
.ser-js,
.team-js,
.works-js,
.contact-js
{
  opacity: 0;
}
.feat-js.animated,
.serimg-js.animated,
.ser-js.animated,
.team-js.animated,
.works-js.animated,
.contact-js.animated
{
  opacity: 1;
}
